<div class="main-outline">
	<div class="row">
	  <div class="span4 offset1"><h1>ABOUT US</h1></div>
	</div>
	<div class="row lrg">
		<div class="span5 offset1">
			<p class="lrg">The owner of 8065 Bagnet discoverd its main dish from his wife's province Ilocos. Impressed by the taste of their Bagent, he decided to bring it back to Manila for all the rest to enjoy. 8065 has gone further by providing many different variations of the Bagnet dish. Check out the <%= link_to "menu", menu_path %> menu to see the different Bagnet dishes.<p>
		</div>
		<div class="span4 offset1"><%=image_tag('https://s3.amazonaws.com/coffeehouse/gathering.jpg',class: 'about')%></div>
	</div>
	<div class="row bottom">
		<div class="span2 offset2">
			<%= image_tag('https://s3.amazonaws.com/coffeehouse/hulk.jpg',class: 'menu')%>
		</div>
		<div class="span2 offset1">
			<%= image_tag('https://s3.amazonaws.com/coffeehouse/superhero.jpg',class: 'menu')%>
		</div>
		<div class="span2 offset1">
			<%= image_tag('https://s3.amazonaws.com/coffeehouse/spiderman.jpg',class: 'menu')%>
		</div>
	</div>
	<div class="about"></div>
	

</div>