<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div id="logo" class="pull-left"><a href="/"><span>8065</span> Bagnet</a></div>
		<ul class="nav pull-right">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Menu", menu_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Hours", hours_path %></li>
		</ul>
	</div>
</div>
